@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
  }

  .polar {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left,#FEAC5E,#C779D0,#4BC0C8);

    --background: 31 64.35% 5.44%;
    --foreground: 31 9.9% 98.4%;

    --muted: 31 49.5% 20.400000000000002%;
    --muted-foreground: 31 9.9% 56.8%;

    --popover: 31 45.2% 8.84%;
    --popover-foreground: 31 9.9% 98.4%;

    --card: 31 45.2% 8.84%;
    --card-foreground: 31 9.9% 98.4%;

    --border: 31 49.5% 20.400000000000002%;
    --input: 31 49.5% 20.400000000000002%;

    --primary: 31 99% 68%;
    --primary-foreground: 31 9.9% 6.800000000000001%;

    --secondary: 31 49.5% 20.400000000000002%;
    --secondary-foreground: 31 9.9% 98.4%;

    --accent: 31 49.5% 20.400000000000002%;
    --accent-foreground: 31 9.9% 98.4%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 31 9.9% 98.4%;

    --ring: 31 99% 68%;
  }

  .midnight-tokyo {
    --background: 240 13.73% 10%;
    --foreground: 229.76 31.78% 74.71%;
    --muted: 232.5 15.44% 18.32%;
    --muted-foreground: 233.79 11.37% 50%;
    --popover: 234.55 17.46% 12.35%;
    --popover-foreground: 234 12.4% 52.55%;
    --card: 234.55 17.46% 12.35%;
    --card-foreground: 229.76 31.78% 74.71%;
    --border: 232.5 15.38% 30.59%;
    --input: 232 20% 14.71%;
    --primary: 0 0% 82.75%;
    --primary-foreground: 0 0% 20%;
    --secondary: 225.45 71.22% 72.75%;
    --secondary-foreground: 234.55 17.46% 12.35%;
    --accent: 234.55 17.83% 9.47%;
    --accent-foreground: 0 0% 82.75%;
    --destructive: 1.58 47.5% 52.94%;
    --destructive-foreground: 210 40% 98.04%;
    --ring: 225.45 71.22% 72.75%;
  }

  .vs-light {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --muted: 0 12% 90%;
    --muted-foreground: 0 12% 30%;
    --popover: 0 0% 97%;
    --popover-foreground: 0 0% 0%;
    --card: 0 0% 98%;
    --card-foreground: 0 0% 0%;
    --border: 0 0% 95%;
    --input: 0 0% 92%;
    --primary: 0 0% 17%;
    --primary-foreground: 0 0% 77%;
    --secondary: 0 0% 75%;
    --secondary-foreground: 0 0% 15%;
    --accent: 0 0% 85%;
    --accent-foreground: 0 0% 25%;
    --destructive: 5 94% 44%;
    --destructive-foreground: 0 0% 100%;
    --ring: 0 0% 17%;
    --radius: 0.5rem;
  }

  .vs-dark {
    --background: 0 0% 12%;
    --foreground: 0 0% 85%;
    --muted: 0 12% 16%;
    --muted-foreground: 0 12% 66%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --card: 0 0% 10%;
    --card-foreground: 0 0% 90%;
    --border: 0 0% 17%;
    --input: 0 0% 20%;
    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 20%;
    --secondary: 0 0% 25%;
    --secondary-foreground: 0 0% 85%;
    --accent: 0 0% 27%;
    --accent-foreground: 0 0% 87%;
    --destructive: 4 84% 50%;
    --destructive-foreground: 0 0% 100%;
    --ring: 0 0% 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
